:root {
  --bg-color: #ffffff;
  --text-color: #222;
  --card-color: #ffffff;
  --btn-color: #bfbfbf;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}
*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  background: var(--card-color);
  transition: background 0.3s ease;
}
h1 {
  text-align: center;
  margin-bottom: 15px;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  background: var(--btn-color);
  color: var(--text-color);
  transition: background 0.3s ease, transform 0.2s;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
}
#addBtn {
  width: 100%;
  background: var(--btn-color);
  color: var(--text-color);
  margin-bottom: 10px;
}
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.filters button {
  background: var(--btn-color);
  color: var(--text-color);
}
ul {
  list-style: none;
  padding: 0;
}
li {
  list-style: none;
  background: var(--card-color);
  padding: 10px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  animation: fadeIn 0.3s ease;

}
li:hover {
  background: #eaeaea;
  transform: scale(1.02);
}

li p{
  color: var(--text-color);
}

li.completed p{
  text-decoration: line-through;
  color: red;
  opacity: 0.6;
}
body.dark {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --card-color: #292929;
  --btn-color: #696666;
}
@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from{
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

#message {
  margin: 10px 0;
  color: red;
}