*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background: #fff;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
h1 {
  text-align: center;
  margin-bottom: 15px;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
}
#addBtn {
  width: 100%;
  background: #4CAF50;
  color: white;
  margin-bottom: 10px;
}
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.filters button {
  background: #eee;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #f9f9f9;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
li:hover {
  background: #eaeaea;
}
li.completed p{
  text-decoration: line-through;
  color: gray;
}